@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: rgba(63, 209, 112, 0.7);
}

.nav-item a{
  color: black;
}

.navbar a{
  margin: 10px;
  color: black;
}

.bg-light {
  background-color: rgba(243, 243, 242, 1) !important;
}

.butao{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;
}

.imaugi{
  margin: 100px;
  display: flex;
  flex-wrap: nowrap;
}

.imaugi img{
  border-radius: 30px;
}

.teixto{
  margin: 60px;
  color: white;
  flex-wrap: wrap;
}

.butao button{
  margin: 10px;
}

section h1{
  margin: 20px;
}

.PaiDeTodos{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filhos{
  margin: 20px;
  width: 300px;
  height: 480px;
  background-color: white;
  border-radius: 30px;
  text-align: justify;
}

.imaugim{
  background-color: aquamarine;
  border-radius: 30px;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.imaugim-2{
  background-color: aquamarine;
  border-radius: 30px;
  padding-top: 150px;
  margin: 10px;
  height: 315px;
  text-align: center;
}

.teixtobeutifull{
  padding-left: 55px;
}